/* Phần header của đề thi */
/* ===== Header nền dịu hơn ===== */
.content-header {
    background: #f4f6f9;
    /* xám xanh nhẹ dễ nhìn */
}


/* ===== NAV PILLS ===== */

/* Bình thường */
.nav-pills .nav-link {
    border-radius: 20px;
    padding: 6px 16px;

    background: #ffffff;
    color: #333;

    font-weight: 500;
    border: 1px solid #dee2e6;
    transition: 0.2s;
}

/* Hover */
.nav-pills .nav-link:hover {
    background: #e9f2ff;
    color: #0d6efd;
}

/* ACTIVE (quan trọng nhất) */
.nav-pills .nav-link.active {
    background-color: #0d6efd !important;
    color: #ffffff !important;
    border-color: #0d6efd !important;
}

.nav-pills .nav-link.active {
    box-shadow: 0 2px 6px rgba(13, 110, 253, 0.3);
}


/* Phần đề thi */
/* Tay trái */
.filter-sidebar {
    border-radius: 12px;
    transition: none !important;
    transform: none !important;
}

.filter-sidebar:hover {
    transform: none !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075) !important;
}

.filter-sidebar h5 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.form-check-label {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}


/* Tay phải */
.card {
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.badge {
    margin-right: 4px;
}